params {
  config_profile_description = 'TPAC_rosalind cluster profile provided by nf-core/configs.'
  config_profile_contact = 'elisa_davis'
  config_profile_url = 'https://tpac.org.au'
 max_memory = 768.GB
  max_cpus = 28
  max_time = 720.h
}
process {
  executor = 'pbspro'
  maxRetries = 2
  beforeScript = 'module load rosalind/1.0 java/jdk-18.0.2 apptainer/ApptainerSigularityAlias'
  withName:malt {
        cpus = 28
        memory = '768 GB'
        } 
  withName:kraken {
        cpus = 28
        memory = '768 GB'
        }       
}
singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/u/davisee/'
}

process.container = '/u/davisee/eager_2.5.3'

params.trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

trace {
    enabled = true
    overwrite = false
    file = "./runInfo/trace-${params.trace_timestamp}.txt"
    fields = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,peak_rss'
}